@*
    stranica koja prikazuje informacije o aplikaciji
*@
@{
}
<h2>O nama</h2>
<p>Doc Online je aplikacija koja omogućava korisnicima da zakazuju termine kod doktora i da se konzultiraju s njima putem video poziva.</p>
<p>Naša aplikacija omogućava korisnicima da prate svoje zdravstveno stanje, pristupe svojim medicinskim podacima i da se konzultiraju s doktorima putem video poziva.</p>
