<h1>O nama</h1>
<div class="row featurette">
    <div class="col-md-8">
        <h2 class="featurette-heading">
            Ideja projekta
        </h2>
        <p class="lead" style="text-align:justify;">
            Online Doc je aplikacija osmišljena kako bi olakšala i modernizirala proces dogovaranja
            pregleda između pacijenata i liječnika. Ideja je proizašla iz potrebe za bržim i učinkovitijim pristupom
            medicinskim uslugama, posebno u situacijama kada fizički dolazak u ordinaciju nije moguć ili je otežan.
            Naša aplikacija omogućava pacijentima da jednostavno i brzo rezerviraju termine za virtualne preglede,
            čime se smanjuje čekanje i povećava dostupnost stručne medicinske skrbi. Kroz Online Doc želimo poboljšati
            zdravstveni sustav pružajući praktičan i siguran način za kontakt između pacijenata i liječnika.
        </p>
    </div>
    <div class="col-md-4">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500"
             style="width: 400px; height: 400px;"
             src="/img/ideja.jpg"
             data-holder-rendered="true">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-8 order-md-2">
        <h2 class="featurette-heading">Naša misija</h2>
        <p class="lead" style="text-align:justify;">
            Naša misija je pružiti svakom pacijentu pristup vrhunskoj medicinskoj skrbi bez obzira na
            geografske prepreke. Vjerujemo da tehnologija može igrati ključnu ulogu u unapređenju 
            zdravstvenih usluga, te se trudimo osigurati da svaki korisnik naše aplikacije dobije 
            profesionalnu i personaliziranu skrb. Online Doc nije samo alat za zakazivanje pregleda;
            to je platforma koja omogućuje stvaranje povjerenja i kontinuiranog odnosa između pacijenata
            i njihovih liječnika. Posvećeni smo stalnom razvoju i prilagodbi naših usluga kako bismo 
            zadovoljili potrebe svih korisnika i osigurali najvišu razinu kvalitete i sigurnosti u pružanju
            medicinskih usluga na daljinu.
        </p>
    </div>
    <div class="col-md-4 order-md-1">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500"
             style="width: 400px; height: 400px;"
             src="/img/misija.jpg"
             data-holder-rendered="true">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette" style="margin-bottom: 60px;">
    <div class="col-md-8">
        <h2 class="featurette-heading">Naše vrijednosti</h2>
        <p class="lead" style="text-align:justify;">
            Online Doc je izgrađen na temeljima povjerenja, sigurnosti i pristupačnosti. U središtu našeg
            djelovanja nalazi se pacijent i njegovo zdravlje. Stavljamo naglasak na zaštitu privatnosti i
            povjerljivost podataka naših korisnika, koristeći moderne sigurnosne tehnologije. Naša 
            aplikacija omogućava korisnicima da se povežu s liječnicima u vrijeme koje im najbolje odgovara,
            čime potičemo fleksibilnost i udobnost u pružanju zdravstvenih usluga. Vjerujemo u transparentnu
            komunikaciju i stalno unapređujemo našu platformu temeljem povratnih informacija korisnika, kako 
            bismo osigurali da svaki pregled i svaka interakcija bude na najvišoj mogućoj razini kvalitete. Naša 
            posvećenost izvrsnosti i inovacijama vodi nas ka cilju da postanemo lider u digitalnoj zdravstvenoj skrbi.
        </p>
    </div>
    <div class="col-md-4">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500"
             style="width: 400px; height: 400px;"
             src="/img/vrijednosti.jpg"
             data-holder-rendered="true">
    </div>
</div>