@{
    ViewData["Title"] = "Pravila privatnosti";
}
<h1>@ViewData["Title"]</h1>

<div class="container mt-5" style="margin-bottom: 60px;">

    <section>
        <p>Dobrodošli na stranicu Pravila privatnosti Online Doc aplikacije. Vaša privatnost nam je izuzetno važna, stoga smo razvili ova Pravila 
            privatnosti kako bismo Vam objasnili kako prikupljamo, koristimo, pohranjujemo i štitimo vaše osobne podatke. Korištenjem naše aplikacije pristajete na prikupljanje i korištenje informacija u skladu s ovim pravilima.</p>
    </section>

    <section>
        <h2>Prikupljanje informacija</h2>
        <p>Prikupljamo različite vrste informacija u svrhu pružanja i poboljšanja naše usluge:</p>
        <ul>
            <li><strong>Osobni podaci:</strong> Kada se registrirate na našu aplikaciju, tražimo vaše ime, adresu e-pošte, telefonski broj i druge kontakt informacije.</li>
            <li><strong>Medicinski podaci:</strong> U svrhu pružanja medicinskih usluga, prikupljamo podatke o vašem zdravstvenom stanju, povijesti bolesti i trenutačnim medicinskim potrebama.</li>
        </ul>
    </section>

    <section>
        <h2>Korištenje informacija</h2>
        <p>Podaci koje prikupljamo koriste se za:</p>
        <ul>
            <li>Pružanje i održavanje usluge;</li>
            <li>Olakšavanje komunikacije između pacijenata i liječnika;</li>
            <li>Poboljšanje korisničkog iskustva i funkcionalnosti aplikacije;</li>
            <li>Slanje važnih obavijesti i informacija vezanih uz vaše korištenje aplikacije;</li>
            <li>Osiguravanje zaštite i sigurnosti naših korisnika i sustava.</li>
        </ul>
        <p>Vaši osobni podaci neće biti dijeljeni s trećim stranama.</p>
    </section>


    <section>
        <h2>Sigurnost podataka</h2>
        <p>Poduzimamo sve razumne mjere kako bismo zaštitili Vaše osobne podatke od neovlaštenog pristupa, izmjene, otkrivanja ili uništenja. Naša sigurnosna infrastruktura uključuje enkripciju, sigurnosne protokole i redovite sigurnosne provjere.</p>
    </section>

    <section>
        <h2>Vaša prava</h2>
        <p>Imate pravo na pristup, ispravak, brisanje i ograničenje obrade vaših osobnih podataka. Također imate pravo prigovora na obradu te pravo na prenosivost podataka. Za ostvarivanje svojih prava ili za dodatne informacije o našim praksama privatnosti, kontaktirajte nas putem kontakt podataka navedenih u aplikaciji.</p>
    </section>

    <section>
        <h2>Promjene Pravila privatnosti</h2>
        <p>Pravila privatnosti možemo povremeno ažurirati kako bismo odražavali promjene u našim praksama ili zakonske obveze. O svim promjenama bit ćete obaviješteni putem aplikacije ili e-pošte, a izmijenjena Pravila privatnosti stupaju na snagu od trenutka objave.</p>
    </section>

    <section>
        <h2>Kontakt</h2>
        <p>Ako imate bilo kakva pitanja ili nedoumice vezane uz naša Pravila privatnosti, slobodno nas kontaktirajte putem e-pošte <a href="mailto:doc.online.hr@gmail.com">doc.online.hr@gmail.com</a>.</p>
    </section>
</div>