@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>Registracija</h1>

<div class="row" style="padding-bottom: 60px">
    <h2>Kreirajte profil</h2>
    <hr />

    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <div style="margin: 0 auto; width: 80%; display:flex; flex-direction:row; justify-content:space-between;">
            <div style="width: 40%; ">


                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Ime" class="form-control" autocomplete="name" aria-required="true" placeholder="name" />
                    <label asp-for="Input.Ime">Ime</label>
                    <span asp-validation-for="Input.Ime" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Prezime" class="form-control" autocomplete="name" aria-required="true" placeholder="name" />
                    <label asp-for="Input.Prezime">Prezime</label>
                    <span asp-validation-for="Input.Prezime" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.KorisnickoIme" class="form-control" autocomplete="username" aria-required="true" placeholder="username" />
                    <label asp-for="Input.KorisnickoIme">Korisničko ime</label>
                    <span asp-validation-for="Input.KorisnickoIme" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.JMBG" class="form-control" autocomplete="jmbg" aria-required="true" placeholder="name" />
                    <label asp-for="Input.JMBG">JMBG</label>
                    <span asp-validation-for="Input.JMBG" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                @{
                    var pattern = System.Threading.Thread.CurrentThread.CurrentCulture.DateTimeFormat.ShortDatePattern.ToLower();
                    pattern = pattern.Replace("DD", "D").Replace("D", "DD");
                    pattern = pattern.Replace("MM", "M").Replace("M", "MM");
                }
                <div class="form-floating mb-3">
                    <!--
                    Html.LabelFor(m => m.Input.DatumRodjenja, "Datum rođenja", new { class = "form-control" })
                    Html.TextBoxFor(m => m.Input.DatumRodjenja, "{0:dd.MM.yyyy}", new { class = "form-control", type = "date" })
                    Html.ValidationMessageFor(m => m.Input.DatumRodjenja, "", new { class = "text-danger" })

                    <div class="form-floating mb-3 input-group date" data-provide="datepicker"
                                             data-date-format="pattern">
                                            <input asp-for="Input.DatumRodjenja" type="text" class="form-control datepicker" id="date" autocomplete="dateofbirth" aria-required="true" placeholder="dateofbirth">
                                            <div class="input-group-addon">
                                                <span class="glyphicon glyphicon-th"></span>
                                            </div>
                                        </div>

                    -->


                    <input asp-for="Input.DatumRodjenja" class="form-control" type="date" max='' id="startDate" />

                    
                    <label asp-for="Input.DatumRodjenja">Datum rođenja</label>
                    <span asp-validation-for="Input.DatumRodjenja" class="text-danger"></span>



                </div>
            </div>
            <div style="width: 40%;">
                <div class="form-floating mb-3">
                    <input asp-for="Input.Adresa" class="form-control" autocomplete="street-address" aria-required="true" placeholder="address" />
                    <label asp-for="Input.Adresa">Adresa</label>
                    <span asp-validation-for="Input.Adresa" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Grad" class="form-control" autocomplete="address-level2" aria-required="true" placeholder="city" />
                    <label asp-for="Input.Grad">Grad</label>
                    <span asp-validation-for="Input.Grad" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Drzava" class="form-control" autocomplete="country" aria-required="true" placeholder="country" />
                    <label asp-for="Input.Drzava">Država</label>
                    <span asp-validation-for="Input.Drzava" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Telefon" class="form-control" autocomplete="tel" aria-required="true" placeholder="phone" />
                    <label asp-for="Input.Telefon">Telefon</label>
                    <span asp-validation-for="Input.Telefon" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password">Lozinka</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.ConfirmPassword">Potvrdite lozinku</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>

            </div>
        </div>
    </form>


</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
